{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".pcss"],
    "createDefaultProgram": true
  },
  "extends": [
    "standard-with-typescript",
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/strict"
  ],
  "rules": {
    "func-names": ["error", "never"],
    "comma-dangle": ["warn", "always-multiline"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "prettier/prettier": [
      "warn",
      { "singleQuote": true, "trailingComma": "all" }
    ]
  },
  "root": true,
  "plugins": ["react", "jsx-a11y", "import", "prettier", "@typescript-eslint"],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "globals": {
    "window": true,
    "location": true,
    "document": true,
    "localStorage": true,
    "sessionStorage": true,
    "fetch": true
  }
}
