{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "quotes": ["warn", "single"],
    "jsx-quotes":["warn", "prefer-single"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "prettier/prettier": ["warn", { "singleQuote": true, "trailingComma": "all" }]
  },
  "root": true,
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "globals": {
    "window": true,
    "location": true,
    "document": true,
    "localStorage": true,
    "sessionStorage": true,
    "fetch": true
  }
}
